
body{
    font-family: Helvetica, sans-serif;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculator-container{
    margin-top: 3rem;
    background-color: rgb(43, 78, 148 );
    width: 20rem;
    height:30rem;
    border-radius: 10px;

}
.display-container{
    height:30%;
    padding: 0 1rem ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.display{
    height: 70%;
    width: 100%;
    border-radius: 5px;
    background-color: grey;
    color: white;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    overflow: hidden;
    
}
.keyboard-container{
    height: 70%;
    
}
.btn-row{
    display: flex;
    height: 25%;
    justify-content: space-around;
    align-items: center;
}

.btn{
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 5px;
    
}
.btn:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translate(1px,1px);

}

.number-btn{
    background-color: grey;
    color: white;
}

.operator-btn{
    background-color:rgb(234, 68, 68);
    color: white;
}


